/*import font styles*/
@import url("https://use.typekit.net/tza0qdn.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #120723;
}

/* Header */
header {
    height: 13vh;
    background-color: #120723;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Generic list styles end */
  
#logo {
    font-family: "haboro-contrast-extended", sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color: #fffefd;
}

/* sandwich icon */
.menu-icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.line {
    width: 40px;
    height: 2px;
    margin: 5px 0;
    background-color: #fffefd;
}

/* navigation menu-transition */
.navigation {
    position: absolute;
    height: 1000vh; /* height and margin drop menu items below view port*/
    width: 100%;
    top: 0%;
    left: 0%;
    margin-top: 13vh;
    background-color: #120723;
    visibility: collapse;
    transition: height 0.3s, left 0.2s;
}

.checkbox:checked ~ .navigation {
    height: 87vh;
    visibility: visible;
}

/* menu item positioning */
.menu {
    height: 60%;
    padding: 10% 20% 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* nav link styling */
.link {
    text-decoration: none;
    color: #7d788a;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin: 20px 0;
}

.link:active {
    color: #fffefd;
}

/* set styling, position and transition arrow menu icon */
.menu-item {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: width 0.2s;
}

.checkbox:checked ~ .navigation .menu-item {
    width: 100%;    /*adjust icon postion according to device 
    - parent streches reletive ot padding percentage determined 
    by device size*/
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 1rem;
    color: #fffefd;
}

/* position and transition for events sub menu and main menu */
.events-navigation {
    position: absolute;
    height: 50vh;
    width: 100%;
    top: 0%;
    margin-top: 50vh;
    background-color: #120723;
    left: -100%;
    /* transform: translateX(0); */
    transition: left 0.2s;
}

.checkbox-sub-menu:checked ~ .navigation .events-navigation {
    left: -100%;
}

.checkbox-sub-menu:checked ~ .navigation {
    left: 100%;
}

.events-menu {
    height: 80%;
    padding: 10% 20% 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/* header end */

main {
    margin-top: 13vh;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0, 0.3), rgba(0,0,0, 0.4)), 
    url(/assets/img/adobe-stock-576195150.jpg) no-repeat center center/cover;
}