/*import font styles*/
@import url("https://use.typekit.net/tza0qdn.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI','Inter', sans-serif;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #120723;
    background-color: #ffffff;
}

/* Header */
header {
    height: 13vh;
    background-color: #120723;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1:first-child {
    font-family: 'haboro-contrast-extended', sans-serif;
    color: #120723;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 80px;
    font-size: 2.25;
}

h2:first-child {
    font-family: 'nexa-rust-sans-black-2', sans-serif;
    color: #56348c;
    font-size: 1.0625rem;
    margin-top: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type=checkbox] {
    display: none;
}

/* Generic list styles end */
  
#logo {
    font-size: 1.75rem;
    color: #fffefd;
}

/* sandwich icon style and animation*/
.open-icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-icon {
    position: relative;
    bottom: 13px;
    left: 5px;
}

.line {
    width: 40px;
    height: 2px;
    margin: 6px 0;
    background-color: #fffefd;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.2s linear;
}

.line-3, .line-4 {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #7d788a;
    opacity: 0;
    transition: all 0.1ms linear;
}

.line-3 {
    transform: rotate(45deg);
}

.line-4 {
    transform: rotate(-45deg);
}

.sandwich-icon:checked ~ label .line-1 {
    transform: translateY(6px);
    opacity: 0;
}

.sandwich-icon:checked ~ label .line-2 {
    transform: translateY(-6px);
    opacity: 0;
}

.sandwich-icon:checked ~ label .line-3 {
    opacity: 1;
    transition: all 0.2s linear;
}

.sandwich-icon:checked ~ label .line-4 {
    opacity: 1;
    transition: all 0.2s linear;
}

/* navigation menu - animation */
.navigation {
    position: absolute;
    height: 87vh;
    width: 100%;
    top: 0%;
    left: 0%;
    margin-top: 13vh;
    background-color: #120723;
    left: -100%;
    transition: left 0.2s linear;
}

.sandwich-icon:checked ~ .navigation {
    left: 0%;
    transition: left 0.2s linear;
}

/* menu item positioning */
.menu {
    padding: 20px 20% 0 20%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.menu-item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* nav text/link styling */
.link, .menu-label {
    text-decoration: none;
    color: #7d788a;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.link:active {
    color: #fffefd;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 1rem;
    color: #fffefd;
}

/* universal sub nav and menu position with animation */
.events-navigation {
    position: absolute;
    z-index: 98;
    width: 100%;
    top: 146px;
    background-color: #120723;
    left: -100%;
    transition: left 0.2s;
}

.gallery-navigation {
    position: absolute;
    z-index: 97;
    width: 100%;
    top: 188px;
    background-color: #120723;
    left: -100%;
    transition: left 0.2s;
}

.events-nav:checked ~ .navigation > .events-navigation {
    left: 0%;
}

.gallery-nav:checked ~ .navigation > .gallery-navigation {
    left: 0%;
}

.sub-menu {
    padding: 0 20% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.sub-menu-item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-menu-title {
    justify-content: space-between;
}

.sub-menu-label {
    color: #fffefd;
}

.fa-times {
    font-size: 1rem;
    color: #7d788a;
}
/* header end */


/* main */
/* hero section */
main {
    margin-top: 13vh;
}

.hero {
    color: #fffefd;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0, 0.6), rgba(0,0,0, 0.5)), 
    url(/assets/img/adobe-stock-576195150.jpg) no-repeat center center/cover;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92.858%;
    margin: 0 auto;
    top: 50%;
}

.banner p:first-child {
    display: inline-block;
    position: relative;
    left: -25px;
    font-size: 1.25rem;
    font-weight: 600;
    align-self: auto;
    z-index: 96;
    animation: anim 2s 1s backwards;
}

.banner p:nth-child(2) {
    position: relative;
    left: -10px;
    font-family: "haboro-contrast-extended", sans-serif;
    font-style: italic;
    font-size: 2.25rem;
    font-weight: bold;
    z-index: 95;
    animation: anim 2s 2s backwards;
}

.banner p:nth-child(3) {
    position: relative;
    right: -10px;
    font-family: "haboro-contrast-extended", sans-serif;
    font-style: italic;
    font-size: 2.25rem;
    font-weight: bold;
    z-index: 94;
    animation: anim 2s 2s backwards;
}

.banner p:nth-child(4) {
    position: relative;
    left: 20px;
    font-size: 1.25rem;
    font-weight: 400;
    z-index: 93;
    animation: anim 2s 3s backwards;
}

.banner p:last-child {
    position: relative;
    left: 25px;
    font-size: 1.25rem;
    font-weight: 400;
    z-index: 92;
    animation: anim 2s 3s backwards;
}
/* hero section end */
/*the mission section */

.the-mission {
    padding: 0 3.572vw;
}

.mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mission-container h2 {
    line-height: 20px;
    text-align: center;
}

.mission-container p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #120723;
}

.mission-button {
    height: 25px;
    padding: 5px 45px;
    border-radius: 12.5px;
    background-color: #56348c;
    margin: 20px 0;
}

.mission-button > p {
    height: 1px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fffefd;
    text-transform: uppercase;
}

.image-container {
    width: 80vw;
    height: 503.69;
    margin: 0 auto;
}

.image {
    width: 80vw;
    border: solid 0.5px #fffefd;
    /* box-shadow: 0 1rem 2rem rgba(0,0,0, 0.5);   */
}

.image-container div:nth-child(2) {
    transform: translateY(-80px);
}

.image-container div:nth-child(3) {
    transform: translateY(-160px);
}

.mission-community {
    margin-top: -160px;
}
/*the mission section end */
