/* main */
.events-form {
    padding: 7rem 1.78rem 0;
}

.events-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    margin-top: 1.25rem;
}

.contact p {
    margin-top: 1rem;
    margin-bottom: 0.625rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4e4e4;
    width: 13.938em;
    padding: 1rem;
    margin-top: 2.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    width: 13.938em;
}

.form label {
    font-size: 0.75rem;
    margin-bottom: 0.3125rem;
}

input, select, option {
    height: 1.875rem;
    border-radius: 0.3125rem;
    border: solid 0.2px #484848;
    background-color: #fffefd;
    font-size: 0.75rem;
}

.text-input, .drop-down-list, .textarea  {
    display: flex;
    flex-direction: column;
    margin: 0.625rem 1.875rem;
}

.textarea input {
    width: 100%;
    height: 6rem;
}

form > input:last-child {
    height: 1.875rem;
    width: 70%;
    margin: 1.25rem 15% 0.25rem;
    border-radius: 0.9375rem;
    font-size: 0.8125rem;
    font-weight: bold;
    line-height: 1.563rem;
    text-align: center;
    color: #fffefd;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    align-self: center;
}

/* main end*/

/* footer */
footer { 
    padding: 0 1.78rem 0;
}

hr {
    border: #56348c solid 1px;
    margin-top: 3.75rem;
}

.partners h2 {
    margin-top: 3.75rem;
}

/* footer end */

/* media queries */

@media screen and (min-width: 768px) {

    .events-form {
        padding: 7rem 3.49999em 0;
    }

    .events-form-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .contact {
        padding: 0 1.25em 0 0;
        display: flex;
        flex-direction: column;
        flex: 1 0 45%;

    }

    .events-form-container h1 {
        margin: 1.25rem 0;
        align-self: flex-start;
        font-size: 28px
    }

    .form {
        flex: 0 1 55%;
    }
}

@media screen and (min-width: 820px) {

    .events-form {
        padding: 7rem 4.58333em 0;
    }
}

@media screen and (min-width: 912px) {

    .events-form {
        padding: 7rem 5.66666em 0;
    }
}

@media screen and (min-width: 1280px) {
    section {
        /* font-size: 26px; */
    }
}

@media screen and (min-width: 1440px) {
    .events-form {
        padding: 7rem 6.66666em;
    }
}
