/* general styling */
.event-button {
    height: 1.563rem;
    width: 10rem;
    border-radius: 0.78125rem;
    background-color: #56348c;
    margin: 1.25rem auto;
}

.event-button > p {
    font-size: 0.8125rem;
    font-weight: bold;
    line-height: 1.563rem;
    text-align: center;
    color: #fffefd;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}
/* general styling end */

/* main */
/* our story section */

.our-story {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.our-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story h2 {
    line-height: 1.25rem;
    text-align: left;
    margin-bottom: 10px;
    align-self: flex-start;
}

.our-values-text {
    margin: 20px auto 0;
}

.text-content {
    /* width: 13.938em; */
    height: 18.75em;
    overflow-y: auto;
    margin-bottom: 1.25em;
}

/* health html */
.text-content h4 {
    line-height: 1.6rem;
}
.text-content p {
    margin-bottom: 0.625rem;
}

/* health html  end*/

.our-story-image-container {
    width: 13.938em;
}

.our-story-image {
    margin: 40px auto 0;
}

.our-story-image > img {
    width: 100%;
}

/* our story section end */


/* our team section */
.our-team {
    padding-top: 2.5rem;
}

.our-team-image {
    margin: 40px auto 0;
}

.our-team-image > img {
    width: 13.938em;
    margin: 40px auto 0;
}

/* community html */
.diversity-image {
    margin: 20px auto 0;
}

.diversity-image > img {
    width: 13.938em;
    margin: 20px auto 0;
}
/*community htm end */

/* our team section end */


/* events section*/
.our-values {
    background-color: #e4e4e4;
}
/* events section end */

/* Gallery */
.the-mission {
    background-color: #120723;
    padding: 5rem 0;
}

.the-mission > h1 {
    color: #fffefd;
}

.our-values-text {
    width: 13.938em;
    height: 18.75em;
    overflow-y: auto;
    margin-bottom: 1.25em;
    color: #e4e3e7;
}

/*visual arts html*/
.visual-immersive-ex-image div:nth-child(1) {
    height: 420px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(/assets/img/immersive-v1-preview.jpg) no-repeat center center/cover;
}

.visual-immersive-ex-image div:nth-child(2) {
    height: 579px;
    width: 100vw;
    background: url(/assets/img/immersive-v2-317610684-preview.jpg) no-repeat center center/cover;
}

.visual-immersive-ex-image div:nth-child(3) {
    height: 503px;
    width: 100vw;
    background: url(/assets/img/immersive-v3-623412046-preview.jpg) no-repeat center center/cover;
}

.visual-immersive-ex-image div:nth-child(4) {
    height: 344px;
    width: 100vw;
    background: url(/assets/img/immersive-v4-644443995-preview.jpg) no-repeat center center/cover;
}
/* visual arts html end */

/* literary arts html*/
.literary-immersive-ex-image div:nth-child(1) {
    height: 420px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(/assets/img/immersive-exL1-618585827-preview.png) no-repeat center center/cover;
}

.literary-immersive-ex-image div:nth-child(2) {
    height: 579px;
    width: 100vw;
    background: url(/assets/img/immersive-exL2-662274961-preview.png) no-repeat center center/cover;
}

.literary-immersive-ex-image div:nth-child(3) {
    height: 503px;
    width: 100vw;
    background: url(/assets/img/immersive-exL3-590741261-preview.png) no-repeat center center/cover;
}

.literary-immersive-ex-image div:nth-child(4) {
    height: 344px;
    width: 100vw;
    background: url(/assets/img/immersive-exL4-650724042-preview.png) no-repeat center center/cover;
}
/* literary arts html end */


/*performing arts html*/
.immersive-ex-image div:nth-child(1) {
    height: 420px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(/assets/img/immersive-ex1-613672260-preview.jpg) no-repeat center center/cover;
}

.immersive-ex-image div:nth-child(2) {
    height: 579px;
    width: 100vw;
    background: url(/assets/img/immersive-ex2-597882717-preview.jpg) no-repeat center center/cover;
}

.immersive-ex-image div:nth-child(3) {
    height: 503px;
    width: 100vw;
    background: url(/assets/img/immersive-ex3-420523288-preview.jpg) no-repeat center center/cover;
}

.immersive-ex-image div:nth-child(4) {
    height: 344px;
    width: 100vw;
    background: url(/assets/img/immersive-ex4-619187646-preview.jpg) no-repeat center center/cover;
}
/* performing arts html end */

.the-mission img {
    display: none;
}


/* media quries */
@media screen and (min-width: 540px) {
    .text-content {
        overflow-y: unset;
    }
}

@media screen and (min-width: 768px) {

    section {
        padding: 5rem 3.499999em;
    }

    .our-story > div:nth-child(2) {
        height: 18.416em;
    }

    .our-story-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .story-text {
        flex: 1 0 50%;
        padding-right: 1.25rem;
    }

    .text-content {
        width: 100%;
        height: 17em;
        overflow-y: auto;
    }

    .our-story-image-container {
        flex: 1 1 50%;
        display: flex;
        position: relative;
    }

    .our-story-image-container > div:last-child {
        width: 10em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-5em, 3.75em);
    }

    #immersive-img-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 21.865em;
        font-size: 24.8px;
    }

    .image {
        position: absolute;
        left: 50%;
        top: 50%;
    }

    #immersive-img-1 {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #fffefd solid 0.5px;
        transform: translate(-12.083em, -7.674em);
    }
    
    #immersive-img-2 {
        height: 10.5799em;
        width: 9.3119em;
        border: #fffefd solid 0.5px;
        transform: translate(2.772em, -7.674em);
    }
    
    #immersive-img-3 {
        height: 9.1911em;
        width: 9.3119em;
        border: #fffefd solid 0.5px;
        transform: translate(-12.083em, 0.708em);
    }
    
    #immersive-img-4 {
        height: 6.2857em;
        width: 14.033em;
        border: #fffefd solid 0.5px;
        transform: translate(-1.9486em, 3.614em);
    }

}

@media screen and (min-width: 912px) {
    section {
        padding: 5rem 5.66666em;
    }

    #immersive-img-container {
        font-size: 26.4px;
    }
}

@media screen and (min-width: 1024px) {

    .text-content {
        height: 21em;
    }

    #immersive-img-container {
        font-size: 29.2px;
    }
}

@media screen and (min-width: 1280px) {

    .text-content {
        height: 23em;
    }
    
    #immersive-img-container {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    section {
        padding: 5rem 6.66666em;
    }

    #immersive-img-container {
        font-size: 37.5px;
    }
}

@media screen and (min-width: 1920px) {

    .the-mission {
        font-size: 49.5px;
    }

    #immersive-img-container {
        font-size: 49.5px;
    }
}