/* main */
.gallery {
    background-color: #fffefd;
    padding: 10rem 0 5rem;
}

.gallery > h2 {
    color: #1a1a1a;
    margin-bottom: 2.5rem;
}

.gallery > h3 {
    margin-bottom: 1.25rem;
    padding-left: 1.78rem;
}

/* contemporary */
.img-wrap-1 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_621625585_Preview.webp) no-repeat center center/cover;
}

.img-wrap-1 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_557757749_Preview.webp) no-repeat center center/cover;
}

.img-wrap-1 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_612828018_Preview.webp) no-repeat center center/cover;
}

.img-wrap-1 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_625829246_Preview.webp) no-repeat center center/cover;
}

.img-wrap-2 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_603679179_Preview.webp) no-repeat center center/cover;
}

.img-wrap-2 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_552915742.webp) no-repeat center center/cover;
}

.img-wrap-2 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_615254822_Preview.webp) no-repeat center center/cover;
}

.img-wrap-2 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_619033732_Preview.webp) no-repeat center center/cover;
}

.img-wrap-3 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_589679025_Preview.webp) no-repeat center center/cover;
}

.img-wrap-3 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_610765946_Preview.webp) no-repeat center center/cover;
}

.img-wrap-3 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_624459471_Preview.webp) no-repeat center center/cover;
}

.img-wrap-3 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_604966083_Preview.webp) no-repeat center center/cover;
}
/* contemporary end */

/* carnival */
.carnival-img-wrap-1 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_655547057_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-1 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_223072649_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-1 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_567448054_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-1 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_651430511_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-2 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_423060260_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-2 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_650417514_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-2 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_207996433_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-2 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_637123378_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-3 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_277625894_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-3 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_339671072_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-3 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_497475047_Preview.webp) no-repeat center center/cover;
}

.carnival-img-wrap-3 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    border-bottom: #fffefd solid 2px;
    background: url(../img/AdobeStock_663973098_Preview.webp) no-repeat center center/cover;
}
/* carnival end */

/* ceramics */
.ceramic-img-wrap-1 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_258607606_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-1 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_620912371_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-1 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_302090262_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-1 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_607695929_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-2 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_263666983_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-2 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_431857479_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-2 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_332696922_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-2 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_623018951_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-3 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_673939086_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-3 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_611047946_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-3 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(../img/AdobeStock_648205168_Preview.webp) no-repeat center center/cover;
}

.ceramic-img-wrap-3 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    border-bottom: #fffefd solid 2px;
    background: url(../img/AdobeStock_632901909_Preview.webp) no-repeat center center/cover;
}
/* ceramics end */
.gallery img {
    display: none;
}

/* footer */
hr {
    border: #56348c solid 1px;
    margin-top: 3.75rem;
}

.partners h3 {
    margin-top: 3.75rem;
}



/* main end */

/* media queries */

@media screen and (min-width: 768px) {

    .gallery {
        padding: 10rem 3.49999em 0;
        font-size: 24px;
    }

    .gallery h3 {
        padding-left: 0;
    }

    .comtemporary-container {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 18.865em;
        font-size: 24.8px;
    }

    /* contemporary */

    .img-wrap-1 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .img-wrap-1 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .img-wrap-1 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .img-wrap-1 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .img-wrap-1 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 2*/

    .img-wrap-2 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .img-wrap-2 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .img-wrap-2 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .img-wrap-2 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .img-wrap-2 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 3 */

    .img-wrap-3 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .img-wrap-3 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .img-wrap-3 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .img-wrap-3 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .img-wrap-3 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }
    /* contemporary end */

    /* carnival */

    .carnival-img-wrap-1 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .carnival-img-wrap-1 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .carnival-img-wrap-1 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .carnival-img-wrap-1 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .carnival-img-wrap-1 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 2*/

    .carnival-img-wrap-2 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .carnival-img-wrap-2 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .carnival-img-wrap-2 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .carnival-img-wrap-2 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .carnival-img-wrap-2 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 3 */

    .carnival-img-wrap-3 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .carnival-img-wrap-3 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .carnival-img-wrap-3 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .carnival-img-wrap-3 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .carnival-img-wrap-3 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }
    /* carnival end */

    /* ceramics */

    .ceramic-img-wrap-1 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .ceramic-img-wrap-1 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .ceramic-img-wrap-1 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .ceramic-img-wrap-1 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .ceramic-img-wrap-1 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 2*/

    .ceramic-img-wrap-2 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .ceramic-img-wrap-2 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .ceramic-img-wrap-2 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .ceramic-img-wrap-2 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .ceramic-img-wrap-2 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 3 */

    .ceramic-img-wrap-3 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .ceramic-img-wrap-3 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .ceramic-img-wrap-3 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .ceramic-img-wrap-3 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .ceramic-img-wrap-3 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }
    /* carnival end */
}

@media screen and (min-width: 820px) {

    .gallery {
        padding: 10rem 4.58333em 0;
    }
}

@media screen and (min-width: 912px) {

    .gallery {
        padding: 10rem 5.66666em 0;
    }

    .img-container {
        font-size: 26.5px;
    }

}

@media screen and (min-width: 1024px) {

    .gallery {
        font-size: 28px;
    }

    .img-container {
        font-size: 29.2px;
    }
}

@media screen and (min-width: 1280px) {

    .gallery {
        font-size: 36px;
    }

    .img-container {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {

    .gallery {
        padding: 10rem 6.66666em 0;
        font-size: 40px;
    }

    .img-container {
        font-size: 37.5px;
    }
}

@media screen and (min-width: 1920px) {

    .gallery {
        padding: 10rem 6.66666em 0;
        font-size: 54px;
    }

    .img-container {
        font-size: 49.7px;
    }
}