/* main */
.gallery {
    background-color: #fffefd;
    padding: 10rem 0 5rem;
}

.gallery > h2 {
    color: #1a1a1a;
    margin-bottom: 2.5rem;
}

.gallery > h3 {
    margin-bottom: 1.25rem;
    padding-left: 1.78rem;
}

/* contemporary */
.img-wrap-1 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://as2.ftcdn.net/v2/jpg/06/21/62/55/1000_F_621625585_6pcsQNQ7QrK6x0qcHqnd3KdAmIeEJcxj.jpg) no-repeat center center/cover;
}

.img-wrap-1 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as2.ftcdn.net/v2/jpg/05/57/75/77/1000_F_557757749_eDih9hICoVaqNeH5yrbQlakFy7sDKyjI.jpg) no-repeat center center/cover;
}

.img-wrap-1 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/06/12/82/80/1000_F_612828018_1KrgxYy51dgJEcg0AGMcND5ioPufU1C1.jpg) no-repeat center center/cover;
}

.img-wrap-1 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t3.ftcdn.net/jpg/06/25/82/92/240_F_625829246_ctfZzUrgtg561UHkTMtpKlFYvGLFVpRW.jpg) no-repeat center center/cover;
}

.img-wrap-2 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://as2.ftcdn.net/v2/jpg/06/03/67/91/1000_F_603679179_rQu2TAvDZ3gOlMod1QQaTIu3MlGI1Fh8.jpg) no-repeat center center/cover;
}

.img-wrap-2 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as2.ftcdn.net/v2/jpg/05/52/91/57/1000_F_552915742_U00l6nbstjoDut9XPg3CpNYh7NqT8sna.jpg) no-repeat center center/cover;
}

.img-wrap-2 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t3.ftcdn.net/jpg/06/15/25/48/240_F_615254822_6LDdA4BMgiV5xeNials6waLdPRMZcDTm.jpg) no-repeat center center/cover;
}

.img-wrap-2 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as2.ftcdn.net/v2/jpg/06/19/03/37/1000_F_619033732_u9kEEjOmJ2vwNJLjhO2RtrUxQdhM5YTn.jpg) no-repeat center center/cover;
}

.img-wrap-3 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://t3.ftcdn.net/jpg/05/89/67/90/240_F_589679025_dG34y3FMXeNru3vHeOSlIQfGO18nJ8To.jpg) no-repeat center center/cover;
}

.img-wrap-3 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/06/10/76/59/240_F_610765946_aCTEipxHz8voxaBnLAJ6RrblYSIEbIF9.jpg) no-repeat center center/cover;
}

.img-wrap-3 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t3.ftcdn.net/jpg/06/24/45/94/240_F_624459471_Xx7q85NRzvnI7I99hquFWbRGl699veX6.jpg) no-repeat center center/cover;
}

.img-wrap-3 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t3.ftcdn.net/jpg/06/04/96/60/240_F_604966083_v06fWkABrPVIatVqdCYw6voqVwjnpHGp.jpg) no-repeat center center/cover;
}
/* contemporary end */

/* carnival */
.carnival-img-wrap-1 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/06/55/54/70/1000_F_655547057_cxMvFvFlY4UGu73hupVcGy8zLeeiY5u2.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-1 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/02/23/07/26/1000_F_223072649_yZVvs4DV2LDlu8CvPBitmQ5pALopGXt4.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-1 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/05/67/44/80/1000_F_567448054_fyEC9qckGZNoPkVycMXoqdyugbzN8leJ.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-1 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as2.ftcdn.net/v2/jpg/06/51/43/05/1000_F_651430511_VldlSHORAWJITljYt1gGlOX3CS8yKcmc.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-2 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/04/23/06/02/1000_F_423060260_jzykA7kE1f3oljZ3Ighb9JHD3x6fti2S.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-2 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as2.ftcdn.net/v2/jpg/06/50/41/75/1000_F_650417514_rjVyeWOOKSf5mGrV5ZeSAXuVLULP9oqX.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-2 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/02/07/99/64/1000_F_207996433_vOV4mkaujWuaYQ9jBgOAtWALjGsTdVwO.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-2 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as2.ftcdn.net/v2/jpg/06/37/12/33/1000_F_637123378_ViA9Y9ngEme412rHilf4hOGWrCvuLoGm.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-3 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/02/77/62/58/1000_F_277625894_hbSwpOJM67zj9dmu3tFNBwtl8B3NfD7C.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-3 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/03/39/67/10/1000_F_339671072_WlCj5IEhnWbKASFm2oKEmfFRR9E6zKQL.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-3 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/04/97/47/50/1000_F_497475047_fAnmEkB3XiPKcywm2lkHrE1KFVpiHQKf.jpg) no-repeat center center/cover;
}

.carnival-img-wrap-3 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    border-bottom: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/06/63/97/30/1000_F_663973098_yqejIqqtDUPiINtINZOp1K9UcxysyrBz.jpg) no-repeat center center/cover;
}
/* carnival end */

/* ceramics */
.ceramic-img-wrap-1 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://as1.ftcdn.net/v2/jpg/02/58/60/76/1000_F_258607606_8YBQ8vlZ6ykaAApSVESFhIUirb560ZUz.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-1 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/06/20/91/23/240_F_620912371_8n46oWme3F4OdqWDdTosn2Ce3OJZiCzX.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-1 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t3.ftcdn.net/jpg/03/02/09/02/240_F_302090262_vUc9iaJqeqsW7g2pClQQvbVWKyAk7qpt.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-1 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/06/07/69/59/240_F_607695929_euTjSs46Hiv1qSPyaZ2CoR14DFprvzlH.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-2 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/02/63/66/69/240_F_263666983_XqvP2fBs5hCE5dqT9BLEssazPLEXvn0I.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-2 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t3.ftcdn.net/jpg/04/31/85/74/240_F_431857479_kzPWESwqEYMMqiyGbl9RPdOYQcDFdiID.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-2 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/03/32/69/69/240_F_332696922_gLrVe5pLVz8pMQ2DvqG1TsEQDbPWAQ4g.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-2 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/06/23/01/89/240_F_623018951_tJMsOUAhsF5O5dpJwy9IMswgw3eWq1OC.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-3 div:nth-child(1) {
    height: 550px;
    border-top: #fffefd solid 2px;
    background: url(https://t3.ftcdn.net/jpg/06/73/93/90/240_F_673939086_KWwWLmOt0rl4lnNwdzLy7qaYcOPtmOhV.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-3 div:nth-child(2) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/06/11/04/79/240_F_611047946_zwidDK3Zsif3uOPKBmDsGIIKoTPgZzt5.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-3 div:nth-child(3) {
    height: 450px;
    border-top: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/06/48/20/51/240_F_648205168_RhMTkVrs696yei3bYCdgpHVYS18BXAVX.jpg) no-repeat center center/cover;
}

.ceramic-img-wrap-3 div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 2px;
    border-bottom: #fffefd solid 2px;
    background: url(https://t4.ftcdn.net/jpg/06/32/90/19/240_F_632901909_UY65irOmlUjFaiiYuDkUOrrSTg0Nj1Ei.jpg) no-repeat center center/cover;
}
/* ceramics end */
.gallery img {
    display: none;
}

/* footer */
hr {
    border: #56348c solid 1px;
    margin-top: 3.75rem;
}

.partners h3 {
    margin-top: 3.75rem;
}



/* main end */

/* media queries */

@media screen and (min-width: 768px) {

    .gallery {
        padding: 10rem 3.49999em 0;
        font-size: 24px;
    }

    .gallery h3 {
        padding-left: 0;
    }

    .comtemporary-container {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 18.865em;
        font-size: 24.8px;
    }

    /* contemporary */

    .img-wrap-1 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .img-wrap-1 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .img-wrap-1 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .img-wrap-1 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .img-wrap-1 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 2*/

    .img-wrap-2 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .img-wrap-2 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .img-wrap-2 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .img-wrap-2 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .img-wrap-2 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 3 */

    .img-wrap-3 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .img-wrap-3 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .img-wrap-3 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .img-wrap-3 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .img-wrap-3 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }
    /* contemporary end */

    /* carnival */

    .carnival-img-wrap-1 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .carnival-img-wrap-1 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .carnival-img-wrap-1 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .carnival-img-wrap-1 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .carnival-img-wrap-1 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 2*/

    .carnival-img-wrap-2 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .carnival-img-wrap-2 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .carnival-img-wrap-2 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .carnival-img-wrap-2 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .carnival-img-wrap-2 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 3 */

    .carnival-img-wrap-3 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .carnival-img-wrap-3 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .carnival-img-wrap-3 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .carnival-img-wrap-3 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .carnival-img-wrap-3 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }
    /* carnival end */

    /* ceramics */

    .ceramic-img-wrap-1 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .ceramic-img-wrap-1 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .ceramic-img-wrap-1 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .ceramic-img-wrap-1 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .ceramic-img-wrap-1 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 2*/

    .ceramic-img-wrap-2 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .ceramic-img-wrap-2 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .ceramic-img-wrap-2 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .ceramic-img-wrap-2 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .ceramic-img-wrap-2 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }

    /* set 3 */

    .ceramic-img-wrap-3 div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    .ceramic-img-wrap-3 div:nth-child(1) {
        height: 7.674em;
        width: 14.033em;
        margin-top: 0;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, -7.674em);
    
    }

    .ceramic-img-wrap-3 div:nth-child(2) {
        height: 10.5799em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(2.772em, -7.674em);
    }
    
    .ceramic-img-wrap-3 div:nth-child(3) {
        height: 9.1911em;
        width: 9.3119em;
        border: #1a1a1a solid 1px;
        transform: translate(-12.083em, 0.708em);
    }
    
    .ceramic-img-wrap-3 div:nth-child(4) {
        height: 6.2857em;
        width: 14.033em;
        border: #1a1a1a solid 1px;
        transform: translate(-1.9486em, 3.614em); 
    }
    /* carnival end */
}

@media screen and (min-width: 820px) {

    .gallery {
        padding: 10rem 4.58333em 0;
    }
}

@media screen and (min-width: 912px) {

    .gallery {
        padding: 10rem 5.66666em 0;
    }

    .img-container {
        font-size: 26.5px;
    }

}

@media screen and (min-width: 1024px) {

    .gallery {
        font-size: 28px;
    }

    .img-container {
        font-size: 29.2px;
    }
}

@media screen and (min-width: 1280px) {

    .gallery {
        font-size: 36px;
    }

    .img-container {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {

    .gallery {
        padding: 10rem 6.66666em 0;
        font-size: 40px;
    }

    .img-container {
        font-size: 37.5px;
    }
}

@media screen and (min-width: 1920px) {

    .gallery {
        padding: 10rem 6.66666em 0;
        font-size: 54px;
    }

    .img-container {
        font-size: 49.7px;
    }
}