/* main */
/* our story section */
.our-story {
    padding-top: 10rem;
    padding-bottom: 2.5rem;
}

.our-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story h2 {
    line-height: 1.25rem;
    margin-bottom: 10px;
    align-self: flex-start;
}

.section-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-values-text {
    margin: 0.625rem auto 0;
}

.section-1-text {
    height: 18.75em;
    overflow-y: auto;
    margin: 0.625rem 0;
}

.section-2-text {
    height: 18.75em;
    overflow-y: auto;
    margin: 0.625rem 0;
}



/* health html */
.section-2-text h4,
.section-1-text h4 {
    line-height: 1.6rem;
    font-size: 16px;
}
.section-1-text p {
    margin-bottom: 0.625rem;
}
/* health html  end*/

.our-story-image {
    margin: 40px auto 0;
}

.our-story-image > img {
    width: 13.938em;
}

/* our story section end */


/* our team section */
.our-team {
    padding-top: 2.5rem;
}

.our-team-image {
    width: 13.938em;
    margin: 40px 0 0;
}

.our-team-image > img {
    width: 13.938em;
}

/* community html */
.diversity-image {
    width: 13.938em;
    margin: 20px auto 0;
}

.diversity-image > img {
    width: 13.938em;
    margin: 20px auto 0;
}
/*community htm end */

/* our team section end */


/* events section*/
.our-values {
    background-color: #e4e4e4;
}
/* events section end */


/* Gallery */
.the-mission {
    background-color: #120723;
}

.the-mission > h1 {
    color: #fffefd;
}

.the-mission  h2 {
    color: #7d788a;
}

.our-values-text {
    height: 18.75em;
    overflow-y: auto;
    margin-bottom: 1.25em;
    color: #e4e3e7;
}

.section-3-text {
    height: 18.75em;
    overflow-y: auto;
    margin-bottom: 1.25em;
    color: #e4e3e7;
}

.our-values-image div:nth-child(1) {
    height: 550px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(/assets/img/vaules-1-213965477-preview.jpg) no-repeat center center/cover;
}

.our-values-image div:nth-child(2) {
    height: 426px;
    width: 100vw;
    background: url(/assets/img/values-2-487248459-preview.jpg) no-repeat center center/cover;
}

/* health html */
.art-therapy-image div:nth-child(1) {
    height: 550px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(/assets/img/art-therap-\ 1-238245385-preview.jpg) no-repeat center center/cover;
}

.art-therapy-image div:nth-child(2) {
    height: 425px;
    width: 100vw;
    background: url(/assets/img/art-therapy-2-202004568-preview.jpg) no-repeat center center/cover;
}
/* health html end */


/* community html*/

.our-premises-image div:nth-child(1) {
    height: 667px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(/assets/img/premises-592331955-preview.jpg) no-repeat center center/cover;
}

/* community html end */

.our-values-image div:nth-child(3) {
    height: 450px;
    background: url() no-repeat center center/cover;
}

.our-values-image div:nth-child(4) {
    height: 450px;
    border-top: #fffefd solid 5px;
    background: url() no-repeat center center/cover;
}
/* Gallery end */
/* main end */

/* media queries*/

@media screen and (min-width: 540px) {
    .section-1-text,
    .section-2-text,
    .section-3-text {
        height: fit-content;
    }
}

@media screen and (min-width: 768px) {

    /* general */

    .our-story-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .story-text { 
        padding-right: 1.25rem;
    } 

    .section-1-text {
        height: 398.62px;
        /* flex: 1 1 50%; */
    }

    .our-story-image {
        flex: 1 1 50%;
    }

    .our-story-image > image {
        float: right;
    }

    .our-story h2 {
        margin-top: 2.5rem;
    }

    /* section 2 */
    .our-team-image {
        width: 16.64em;
    }

    .our-team-image > img {
        width: 16.64em;
    }

    .section-2-text {
        
    }




    
}


