/* main */
/* our story section */
.our-story {
    padding-top: 10rem;
    padding-bottom: 2.5rem;
}

.our-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story h2 {
    line-height: 1.25rem;
    margin-bottom: 10px;
    align-self: flex-start;
}

.section-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-values-text {
    margin: 0.625rem auto 0;
}

.section-1-text {
    height: 18.75em;
    overflow-y: auto;
    margin: 0.625rem 0;
}

.section-2-text {
    height: 18.75em;
    overflow-y: auto;
    margin: 0.625rem 0;
}



/* health html */
.section-2-text h4,
.section-1-text h4 {
    line-height: 1.6rem;
    font-size: 16px;
}
.section-1-text p {
    margin-bottom: 0.625rem;
}
/* health html  end*/

.our-story-image {
    width: 13.938em;
    margin: 40px auto 0;
}

.our-story-image > img {
    width: 100%;
}

/* our story section end */


/* our team section */
.our-team {
    padding-top: 2.5rem;
}

.our-team-image {
    width: 13.938em;
    margin: 40px 0 0;
}

.our-team-image > img {
    width: 13.938em;
}

/* community html */
.diversity-image-container {
    margin-top: 2.5rem;
}

.diversity-image {
    width: 13.938em;
    margin: 1.25rem auto 0;
}

.diversity-image > img {
    width: 13.938em;
}
/*community htm end */

/* our team section end */


/* events section*/
.our-values {
    background-color: #e4e4e4;
}
/* events section end */


/* Gallery */
.the-mission {
    background-color: #1a1a1a;
}

.the-mission > h2 {
    color: #fffefd;
}

.the-mission  h3 {
    color: #fffefd;
}

.our-values-text {
    height: 18.75em;
    overflow-y: auto;
    margin-bottom: 1.25em;
    color: #e4e3e7;
}

.section-3-text {
    height: 18.75em;
    overflow-y: auto;
    margin: 1.25em 0;
    color: #e4e3e7;
}

/* about us */
.our-values-image div:nth-child(1) {
    height: 550px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(../img/adobe-stock-213965477-preview.webp) no-repeat center center/cover;
}

.our-values-image div:nth-child(2) {
    height: 426px;
    width: 100vw;
    border-bottom: #fffefd solid 1px;
    background: url(../img/adobe-stock-487248459-preview.webp) no-repeat center center/cover;
}
/* about us end */

/* health html */
.art-therapy-image div:nth-child(1) {
    height: 550px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(../img/adobe-stock-238245385-preview.webp) no-repeat center center/cover;
}

.art-therapy-image div:nth-child(2) {
    height: 425px;
    width: 100vw;
    border-bottom: #fffefd solid 1px;
    background: url(../img/adobe-stock-202004568-preview.webp) no-repeat center center/cover;
}
/* health html end */


/* community html*/

.our-premises-image div:nth-child(1) {
    height: 667px;
    width: 100vw;
    margin-top: 2.5rem;
    background: url(../img/adobe-stock-592331955-preview.webp) no-repeat center center/cover;
}

/* community html end */

.the-mission img {
    display: none;
}

/* Gallery end */
/* main end */

/* media queries*/

@media screen and (min-width: 540px) {
    section {
        padding: 5rem 1.875em;
    }

    .section-1-text,
    .section-2-text,
    .section-3-text {
        height: fit-content;
    }
}

@media screen and (min-width: 768px) {

    section {
        padding: 5rem 3.499999em;
    }


    .our-story-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .story-text { 
        padding-right: 1.25rem;
    } 

    .section-1-text {
        flex: 0 1 50%;
        height: 22.431rem;
    }


    .our-story-image {
        flex: 1 0 50%;
    }

    .our-story h2 {
        margin-top: 2.5rem;
    }

    /* section 2 */

    /* mission */
    .our-team-image {
        width: 16.64em;
    }

    .our-team-image > img {
        width: 16.64em;
    }

    /* community */

    .diversity-image-container {
        display: flex;
        position: relative;
    }
    
    .diversity-image {
        margin: 0 0;
    }
    
    .diversity-image-container div:first-child > img, 
    .diversity-image-container div:first-child {
        width: 15.745em;
        height: 9.9962em;
        float: left;
        transform: translateX(0.625em);
    }

    .diversity-image-container div:last-child {
        margin-top: 0.9835em;
    }

    .diversity-image-container div:last-child > img,
    .diversity-image-container div:last-child  {
        width: 11.625em;
        height: 8.0291em;
        float: right;
        transform: translateX(-0.625em);
    }

    /* section 3 */

    /* mission */
    .our-values-image ,.art-therapy-image {
        margin-top: 2.5rem;
    }

    .our-values-image {
        display: flex;
        position: relative;
        height: 10.336em;
    }

    .our-values-image div:nth-child(1) {
        height: 10.336em;
        width: 16.43333em;
        background-size: cover;
        border: #fffefd solid 1px;
        margin-top: 0;
        transform: translateX(2em);
    }
    
    .our-values-image div:nth-child(2) {
        height: 8.006em;
        width: 12.51em;
        background-size: cover;
        border: #fffefd solid 1px;
        margin-top: 1.165em;
        transform: translateX(-2em);
    }

    /* health */
    .art-therapy-image {
        display: flex;
        position: relative;
        height: 10.336em;
    }

    .art-therapy-image div:nth-child(1) {
        height: 10.336em;
        width: 16.43333em;
        background-size: cover;
        border: #fffefd solid 1px;
        margin-top: 0;
        transform: translateX(2em);
    }
    
    .art-therapy-image div:nth-child(2) {
        height: 8.006em;
        width: 12.51em;
        background-size: cover;
        border: #fffefd solid 1px;
        margin-top: 1.165em;
        transform: translateX(-2em);
    }

    /* community */

    .our-premises-image div:nth-child(1) {
        width: 16.66666em;
        height: 9.654em;
    }

    /* the mission */
    .section-3-container div:last-child {
        font-size: 22px;
    }
}

@media screen and (min-width: 820px) {
    section {
        padding: 5rem 4.58333em;
    }
}

@media screen and (min-width: 912px) {
    section {
        padding: 5rem 5.66666em;
    }

    .section-1-text {
        height: 24.051rem;
    }
}



@media screen and (min-width: 1024px) {

    .section-1-text {
        height: 26.501rem;
    }

    /* the mission */
    .section-3-container div:last-child {
        font-size: 24px;
    }
}

@media screen and (min-width: 1280px) {

    .section-1-text {
        height: 29.001rem;
    }

    .section-3-container div:last-child {
        font-size: 28px;
    }

    .diversity-image-container {
        font-size: 32px;
    }
}

@media screen and (min-width: 1440px) {

    section {
        padding: 5rem 6.66666em;
    }

    .section-1-text {
        height: 30.2811rem;
    }

    .section-3-container div:last-child {
        font-size: 34px;
    }

}

@media screen and (min-width: 1920px) {

    section {
        padding: 5rem 6.66666em;
    }

    .section-1-text {
        flex: 0 1 55%;
    }


    .our-story-image {
        flex: 1 0 45%;
    }

    .section-3-container div:last-child {
        font-size: 40px;
    }

    .diversity-image-container {
        font-size: 40px;
    }

}